body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    background: black;
    display: block;
    margin: auto;
}


#restartBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background: lime;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
